@tailwind base;
@tailwind components;
@tailwind utilities;

*, html
{
    font-family: 'Inknut Antiqua', serif;
}

@layer base {
    .wrapper {
        max-width: 1000px;
        width: 60%;
        padding: 10px 0;
    }

    @media screen and (max-width: 1024px) {
        .wrapper {
            width: 100%;
        }
    }
}